/* Section principale avec la vidéo d'arrière-plan */
.mainSection {
	position: relative;
	display: flex;

	width: 100vw;
}

/* Titre principal de la page */
.mainSection h1 {
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	text-align: center;

	font-size: 200px;
	font-weight: 100;
	font-family: var(--text-title);

	line-height: 100px;

	color: #fff;
	text-transform: uppercase;
}

/* Vidéo d'arrière-plan */
#backgroundVideo {
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* Section pour les déserts les plus connus par continents */
.mostKnownDeserts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	height: 120vh;
	width: 100vw;

	background-color: var(--text-secondary);

	padding: 8rem 0;
}

/* Titre de la section */
.mostKnownDeserts h1.title {
	font-family: var(--text-title);
	font-size: 3rem;
	font-weight: 700;

	text-transform: uppercase;
	text-align: center;

	color: var(--text-primary);
	letter-spacing: 0.1rem;
	line-height: 1.2;

	margin-bottom: 2rem;
}

.mostKnownDeserts h1.title::after {
	content: "";
	display: block;

	width: 40rem;
	height: 2px;

	background: var(--text-primary);

	margin: auto;
}

/* Liste des déserts avec mise en page de type carrousel */
.mostKnownDeserts .desertsList {
	height: 100%;
}

.mostKnownDeserts .desertsList .carousel {
	display: flex;
	justify-content: center;
}

.mostKnownDeserts .desertsList .carousel .desert {
	width: 15vw;
	height: 80vh;

	margin-left: 1rem;

	position: relative;
}

.mostKnownDeserts .desertsList .carousel .desert .image {
	height: 100%;
	width: 100%;

	border-radius: 0.5rem;
}

.mostKnownDeserts .desertsList .carousel .desert h1 {
	position: absolute;
	font-size: 2.2rem;
	font-weight: bold;

	top: 90%;
	left: 1rem;

	transition: top 0.2s linear;
}

.mostKnownDeserts .desertsList .carousel .desert p {
	display: flex;

	position: absolute;
	opacity: 0;
	top: 88%;

	left: 1rem;
	transition: opacity 0.3s linear;
}

.mostKnownDeserts .desertsList .carousel .desert p a {
	text-decoration: none;
	color: var(--text-primary);
}

/* Images des déserts par continent */
.mostKnownDeserts .desertsList .carousel .image#europe {
	background-image: url("../assets/png/Deserts_Europe.jpeg");
	background-size: cover;
	background-position: 50%;
}

.mostKnownDeserts .desertsList .carousel .image#afrique {
	background-image: url("../assets/png/Deserts_Afrique.webp");
	background-size: cover;
	background-position: 50%;
}

.mostKnownDeserts .desertsList .carousel .image#amerique {
	background-image: url("../assets/png/Deserts_Amerique.webp");
	background-size: cover;
	background-position: 50%;
}

.mostKnownDeserts .desertsList .carousel .image#asie {
	background-image: url("../assets/png/Deserts_Asie.webp");
	background-size: cover;
	background-position: 50%;
}

.mostKnownDeserts .desertsList .carousel .image#orient {
	background-image: url("../assets/png/Deserts_Orient.webp");
	background-size: cover;
	background-position: 50%;
}

/* Effet d'overlay au survol du désert */
.overlay {
	position: absolute;
	height: 100%;
	width: 100%;

	background: #000;
	opacity: 0.6;

	transition: opacity 0.3s linear;
}

.mostKnownDeserts .desertsList .carousel .desert:hover > .overlay {
	opacity: 0;
}

/* Animation du déplacement du titre et de l'apparition du texte au survol du désert */
.mostKnownDeserts .desertsList .carousel .desert:hover > h1 {
	top: 80%;
}

.mostKnownDeserts .desertsList .carousel .desert:hover > p {
	opacity: 1;
}
